import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
url = "https://api.worldbank.org/v2/en/indicator/MS.MIL.XPND.GD.ZS?downloadformat=csv"

In [5]:
import zipfile
import io
import requests

response = requests.get(url)
zip_file = zipfile.ZipFile(io.BytesIO(response.content))

zip_file.namelist()

['Metadata_Indicator_API_MS.MIL.XPND.GD.ZS_DS2_en_csv_v2_50.csv',
 'API_MS.MIL.XPND.GD.ZS_DS2_en_csv_v2_50.csv',
 'Metadata_Country_API_MS.MIL.XPND.GD.ZS_DS2_en_csv_v2_50.csv']

In [6]:
df = pd.read_csv(
    zip_file.open("API_MS.MIL.XPND.GD.ZS_DS2_en_csv_v2_50.csv"),
    skiprows=4
)

df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,2.043136,2.461274,...,1.281353,1.286710,1.125957,1.078065,1.158166,1.145973,1.118534,1.044194,0.976005,NaN
2,Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.956772,0.945227,1.006746,1.170968,1.358857,1.827934,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,1.314716,1.313331,1.441845,1.468359,...,0.812959,0.813069,0.837846,0.725344,0.884576,1.130824,0.922683,1.133873,1.169258,NaN
4,Angola,AGO,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.733335,2.507983,1.955787,1.767914,1.810429,1.393223,1.410164,1.407255,1.000492,NaN

In [7]:
countries = ["Ukraine", "Russian Federation", "Romania", "Poland", "Germany"]

df_selected = df[df["Country Name"].isin(countries)]

df_selected[["Country Name", "2020", "2021", "2022"]]

           Country Name      2020      2021       2022
55              Germany  1.355990  1.299824   1.350305
190              Poland  2.263054  2.217163   2.204589
201             Romania  2.004152  1.847629   1.750117
202  Russian Federation  4.144717  3.575917   4.607289
248             Ukraine  4.400315  3.425492  25.642410

df_selected.set_index("Country Name")[["2020", "2021", "2022"]].T.plot(
    kind="bar",
    figsize=(10,6)
)

plt.title("Military Spending (% of GDP)")
plt.ylabel("% of GDP")
plt.xlabel("Year")
plt.show()

## Key Insights

- Ukraine shows a sharp increase in military spending as a percentage of GDP starting from 2022, reflecting the direct impact of the war.
- Russia maintains high military expenditure levels, but without a proportional spike compared to Ukraine, indicating structural defense spending.
- Eastern European NATO members (Romania, Poland) display a gradual increase, consistent with NATO commitments and heightened security concerns.
- Germany shows a more moderate trend, with changes influenced by policy shifts rather than immediate conflict exposure.

## Geopolitical Interpretation

The data highlights how armed conflict and perceived security threats directly influence national budget priorities.
Eastern European countries exposed to the Russian-Ukrainian conflict demonstrate a reallocation of resources toward defense,
confirming the role of NATO and regional security dynamics in shaping fiscal policy.

## Key Findings

- Ukraine shows a dramatic increase in military spending as a share of GDP in 2022,
  reflecting the direct impact of the full-scale war.
- Russia maintains elevated but relatively stable defense spending,
  suggesting a structurally high military budget.
- Eastern European NATO members such as Romania and Poland display a gradual upward trend,
  consistent with alliance commitments and increased threat perception.
- Germany’s increase is more moderate, indicating policy-driven adjustments rather than immediate conflict exposure.
-

## Geopolitical Interpretation

The data suggests that proximity to conflict and alliance obligations
play a crucial role in shaping national defense expenditure.
The sharp divergence between Ukraine and other European countries
highlights how existential threats override fiscal constraints.